include LICENSE
include NOTICE
include thicket/vis/package.json
include thicket/vis/webpack.config.js
recursive-include thicket/vis/scripts *
recursive-include thicket/vis/static *
recursive-include thicket/vis/templates *
